{% load otree %}

<table class="table table-stripped table-hover">
    <tr>
        <td>Males:</td>
        <td>{{ males }}</td>
    </tr>
    <tr>
        <td>Females:</td>
        <td>{{ females }}</td>
    </tr>
     <tr>
        <td>Male neurotisicm:</td>
        <td>{{ men_neuro }}</td>
    </tr>
    <tr>
        <td>Female neurotisicm:</td>
        <td>{{ women_neuro }}</td>
    </tr>
    <tr>
        <td>Trump voters:</td>
        <td>{{ trump_voters }}</td>
    </tr>
    <tr>
        <td>Hillary voters:</td>
        <td>{{ hillary_voters }}</td>
    </tr>
    <tr>
        <td>Trump voters neurotisicm:</td>
        <td>{{ trump_voters_neuro }}</td>
    </tr>
    <tr>
        <td>Hillary voters neurotisicm:</td>
        <td>{{ hillary_voters_neuro }}</td>
    </tr>

</table>
